.LJN_main_referral { width: 100%; height: 400px; background: url("http://11093158.s61i.faiusr.com/4/AD0IpomlBRAEGAAgvbrZvgUogaOLtwIwgA84kAM.png") no-repeat;}
.LJN_fullmeasureOuterContent { width: 100%; height: 255px;background: transparent url(http://11093158.s61i.faiusr.com/4/AD0IpomlBRAEGAAgu7rZvgUogNWjjgYwgA84gwI.png) no-repeat top; }
.LJN_fullmeasureOuterContent span{ position: relative; font-size: 20px; color: white; top: 210px;}
